<% this.title = 'Wiki - 比赛赛制' %>
<% this.wikiPage = "index" %>

<% include ../header %>
    <h1 class="ui center aligned header">Wiki</h1>
    <div style="font-content" >
        <h2 class="ui header"><a href="/wiki/contest_type">比赛赛制介绍</a></h2>
        
    </div>
<% include ../footer %>
